 <div style="height: 100px; background-color: lightgrey; margin: -20px; padding: 50px;">
   <h1 style="text-align: center;"><em>About</em></h1>
    <%= link_to "Home", root_path %>
</div>

<div style="height: 500px; background-color: lightblue; margin: -20px; padding-top: 50px; padding-left: 30px; padding-right: 30px;">
  <h3>Where it all started</h3>
  <p>Here is a whole bunch of text where it all started with my blog... The usual collection of BS!</p>
</div>